/*
-----------------------------------------------
adaptive path low-end style
version:  2003.02.20
----------------------------------------------- */

body {background:#eeeecc;}
a img {border-width:0; border-style:none; color:#fff;}
#nav span {color:#999;}